body{
  background-color: #3b3b3b;

}

.both{
  margin-left: 100px;
	margin-right: 100px;

}
.left.right.TopNews{
  background-color: gray;
  border-width: thin;
}
.lefta,.left{
  float:left;
}

.righta,.right{
  float: right;
}

.left,.right{
  margin-top: 32px;
  
}

.TopNews{
  font-family: Arial; 
  font-size: 50px;
  color: white;
}
.a{
  font-family: alternate-gothic-no-3-d;
  font-size: 20px;
  line-height: 32px;
  width: 326px;
  height: 96px;
  margin:15px 22px 15px 22px; 
  line-height: 32px;

}
.b{
  font-size: 12.5px;
  line-height: 17px;
  width: 326px;
  height: 68px;
  margin:15px 22px 15px 22px; 
  line-height: 17px;
}
.c{
  color: white;
  float: right;
  width: 370px;
  height: 226px;
  background-color: rgb(20, 20, 20);
}
a:link {
  color:white;
}


a:visited {
  color:white;
}


a:hover {
  color:black;

}