body{
    font-size: small;
    font-family: Verdana Helvetice Arial;
    line-height: 1.6em;
}
h1,h2{
    color: #007e7e;
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.3em;
}
.guarantee {
    padding: 1.9em;
    color: #444444;
    font-style: italic;
    font-size: Georgia "Times New Roman";
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    background-color: #a7cece;
    padding: 25px;
    margin: 30px;
    margin-right: 250px;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(./images/background.gif);
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
.elixirs {
border-width: thin;
border-style: solid;
border-color: #007e7e;
width: 200px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin-left: 20px;
background-color: url(./images/cocktail.gif);
background-repeat: repeat-x;
text-align: center;
line-height: 1;
}
.elixirs h2 {
color: black;
}
.elixirs h1 {
color: #d12c47;
}