body{
    background-color: #322f2f;
}

ul li {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 0px;
    text-decoration: none;
    display: inline;
	list-style-type: none;
    list-style: none;
}

ul li a:hover{
	color: #f70909;
	/* border-bottom: none;
	font-weight: bold; */
}

ul li.selected {
	background-color: #000000;
}

ul{
    width: 1545px;
    height: 70px;
    line-height: 70px;
    margin-top: 0px;
    background-color: rgb(6, 7, 7);
}/* 对导航栏的整体样式进行设置 */

a{
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0px;
    text-decoration: none;
}/* 设置a标签的样式 */

.nav1 {
    position: relative;/* 设置相对定位 */
    display: inline-block;/* 让元素具有块级元素和行内元素的特性,即将块级元素转化为内联元素 */
}

.nav2 {
    display: none;/* 将某元素隐藏起来 */
    position: absolute;
    background-color: #030303;
    min-width:200px;/* 最小宽度 */
}

.nav2 a {
    color: rgb(255, 255, 255);
    padding: 10px 16px;
    display: block;/* 将a标签设置为块级标签 */
}

.nav2 a:hover {
    color: #ff0000;
}/* 鼠标悬浮时的颜色 */

.nav1:hover .nav2 {
    display: block;
}/* 鼠标悬浮在元素上时,变为块级标签 */

/* .nav3 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
} */

.nav1 a:hover{
    color: #ff0000;
}

.chy {
    float:right;
    display: flex;
}

h2 {
    color:#fafafa;
    font-size: 60px;
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: 0px;
}

.pi {
    margin-left: 130px;
}

.pitwo {
    float: right;
    margin-right: 170px;
}

    

.biaotitupian{
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

b{
    margin-top: 20px;
}

.lizhaoyang:hover{
    color:#ff0000;
}
.nav3{
    text-decoration: underline;
}




